@media only screen and (min-width: 300px) and (max-width: 700px) {

body{
    font-family: sans-serif;
    background: #eee;
    height: 100vh;
  }
  .title{
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0;
    color: #141c3a;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }
  #demo{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    color: #141c3a;
    letter-spacing: 1px;
    font-style: italic;
  }
  .piano{
    width: 80%;
    height: 50%;
    display: flex;
    margin: 0 auto;
    background-color: slategray;
    margin-top: 30px;
  }
  .key{
    width: 17%;
    height: 100%;
    display: inline-block;
    border: solid #141c3a 2px;
    box-shadow: 2px 5px;
    background-color: white;
    color: #141c3a;
    border-radius: 0 0 5px 5px;
    z-index: 0;
  }
  .black-key{
    width: 10%;
    height: 70%;
    display: flex;
    background-color: #141c3a;
    color: white;
    margin: 0px -20px 0px -20px;
    padding: 0px;
    border-radius: 0 0 5px 5px;
    z-index: 1;
  }

  .keynote{
    width: 20px;
    height: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 150px;
    color: #141c3a;
  }
  .black-keynote{
    width: 20px;
    height: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
  }
}